/* +++++++++++ RESET and HOUSEKEEPING +++++++++++ */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    box-sizing: border-box;
    font-size: 16px;
    width: 100vw;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    position: relative;
}

/* +++++++++++ PAGE LAYOUT +++++++++++ */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* +++++++++++ HEADER LAYOUT +++++++++++ */

/* This is out, removed "." to nuke it. */

header {
    display: flex;
    border-bottom: 2px solid #e7e7e7;B
}

/* +++++++++++ HEADER CONTENT +++++++++++ */

.header-text {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 2%;

    font-family: 'roboto  ', sans-serif;
    font-weight: 200;
    font-size: 6em;
}

.header-logo {
    width: 180px;
    height: 180px;
}

/*.header-logo::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}*/

.header-logo img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}


/* +++++++++++ PANEL LAYOUT +++++++++++ */

.panel-container {
    display: block;
    overflow: auto;
    height: calc(100vh - 300px);
    flex-grow: 1;
}
/*
.panel-wrapper {
    display: flex;
    flex-direction: column;
}*/

.panel {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #e7e7e7;
}

/* +++++++++++ PANEL TITLE +++++++++++ */

.panel-title {
  display: flex;
  flex-grow: 1;

  min-width: 100vw;
  padding: .5em;


  font-family: 'roboto  ', sans-serif;
  color: #262626;
  font-weight: 300;
  font-size:2.5em;
  height: 110px; /* ++++++ This has to add up to 100 */
}

#strategy-title {
  color: #868686;
  /*border-bottom: 3px solid black;*/
}

#design-title {
  color: #868686;
}

#dev-title {
  color: #868686;
}

/* +++++++++++ PANEL CONTENT LAYOUT +++++++++++ */

/* this is is for the default hidden state */
.panel-content {
  height: 0;
  transition: height 0.5s;
  overflow: hidden;
}

.inner-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 630px);
  min-height: calc(100vh - 630px);
  max-height: calc(100vh - 630px); /* this has to add up to 100, use "min-height" here to force the content to stretch the full container. */
  width: 100vw;

  font-family: 'quicksand', sans-serif;
}

.content-title {
  color: #262626;
  font-size: 2em;
}

.content-body {
  font-size: 1.2em;
  color: #262626;
}

.content-body-wrapper {
  display: flex;
  flex-grow: 1;
}

.content-body-wrapper > * {
  width: 50%;
}

.content-image {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 100px;
}

/* +++++++++++ STRATEGY PANEL +++++++++++ */

#strategy-content {
  /* background-image: url("../images/strategy.svg");
  background-size: 100% 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat; */
}

.inner-content {
  padding: 2vw;
}

#strategy-content-title {

}

#strategy-content-body {

}

#strategy-content-image {
  background-image: url("https://picsum.photos/300/200/?random");
}

/* +++++++++++ DESIGN PANEL +++++++++++ */

#design-content {
  /* background-image: url("https://picsum.photos/300/200/?random");
  background-size: 100% 100%;
  background-position: 80% 80%;
  background-repeat: no-repeat; */
}

#design-content-title {

}

#design-content-body {

}

#design-content-image {
  background-image: url("https://picsum.photos/300/200/?random");
}

/* +++++++++++ DEV PANEL +++++++++++ */

#dev-content {
  /* background-image: url("https://picsum.photos/300/200/?random");
  background-size: 100% 100%;
  background-position: 80% 80%;
  background-repeat: no-repeat; */
}

#dev-content-title {

}

#dev-content-body {

}

#dev-content-image {
  background-image: url("https://picsum.photos/300/200/?random");
}

#dev-panel {
  border-bottom: none;
}

/* +++++++++++ NAVIGATION LAYOUT +++++++++++*/

nav {
  padding-left: 40%;
  padding-right: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  border-top: 2px solid #e7e7e7;
}

/* +++++++++++ NAVIGATION CONTENT +++++++++++*/

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  flex: 0 0 100px;

  background-image: url("../images/icons/home-active.svg"); /* this has to be active since this is the home page */
  background-repeat: no-repeat;

  /*border: 1px solid black;*/
  }

#home:hover {
  background-image: url("../images/icons/home-hover.svg")
}

#home:focus {
  background-image: url("../images/icons/home-active.svg")
}

#resume {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  flex: 0 0 100px;

  background-image: url("../images/icons/resume.svg");
  background-repeat: no-repeat;
}

#resume:hover {
  background-image: url("../images/icons/resume-hover.svg")
}

#resume:focus {
  background-image: url("../images/icons/resume-active.svg")
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  flex: 0 0 100px;

  background-image: url("../images/icons/contact.svg");
  background-repeat: no-repeat;
}

#contact:hover {
  background-image: url("../images/icons/contact-hover.svg")
}

#contact:focus {
  background-image: url("../images/icons/contact-active.svg")
}


/* RESPONSIVE BREAKPOINTS */



/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 700px) {
/* Styles */
.header-logo {
    width: 100px;
    height: 100px; /* ++++++ This has to add up to 100 */
  }
.header-text {
    font-size: 3em;
  }
.panel-title {
    font-size: 2em;
  }

  .inner-content {
    height: calc(100vh - 530px);
    min-height: calc(100vh - 530px);
    max-height: calc(100vh - 530px); /* this has to add up to 100, use "min-height" here to force the content to stretch the full container. */

  }

.content-body-wrapper {
  flex-direction: column;
  }

.content-image {
  flex-grow: 1;
  }

.content-body-wrapper > * {
  width: 100%;
  }

.content-body {
  margin-bottom: 2em;
}

nav {
  min-height:100px;
  max-height:100px;
}

/* Tablets (portrait and landscape) ----------- */
@media (min-width : 641px) and (max-width : 1024px) {}
/* Styles */
/*
.content-body-wrapper {
  flex-direction: column;
}

.content-image {
  flex-grow: 1;
}

.content-body-wrapper > * {
  width: 100%;
} */
